.nav {
  background: var(--independence);
  width: 100%;
  height: 4.3rem;
  box-shadow: 0 0 2rem var(--rich-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoAndTitle {
  text-decoration: none;
  color: var(--white);
  height: 3.8rem;
  padding: 0 0.5rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  background: var(--prussian-blue);
  box-shadow: 0 0 1rem var(--rich-black);
}

.logoAndTitle h1 {
  margin-left: 0.5rem;
  color: var(--blue-munsell);
}

.logoFlag {
  width: 3.5rem;
}

.logo {
  width: 12rem;
}

.link {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  margin-right: 2rem;
  height: 2.2rem;
  background: var(--candy-pink);
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.link:hover {
  /* background: var(--blue-munsell); */
  filter: brightness(80%);
}

.plus {
  width: 1.5rem;
  margin-left: 0.3rem;
}
