@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --rich-black: #0c101b;
  --prussian-blue: #1d283a;
  --independence: #3c4f6c;
  --blue-munsell: #32d3c5;
  --blue-munsell-dark: #22948a;
  --candy-pink: #e9606a;
  --button: #8a131b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--prussian-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
