.searchAndFilters {
  margin: 2rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.searchCountry {
  box-shadow: 0 0 1rem var(--rich-black);
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 0.2rem;
}

.searchInput {
  padding: 0.5rem;
  height: 2.2rem;
  color: var(--white);
  border: none;
  border-radius: 0.2rem 0 0 0.2rem;
  background: var(--independence);
  outline: none;
}

.searchInput::placeholder {
  color: var(--white-transparent);
}

.searchButton {
  width: 3rem;
  height: 2.2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.2rem 0.2rem 0;
  background: var(--independence-button);
  cursor: pointer;
}

.searchButton:hover {
  filter: brightness(80%);
}

.imgSearch {
  width: 1.2rem;
}

.containerCountries {
  background: var(--prussian-blue);
  padding-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 4rem;
  justify-content: center;
}

.paginationBttns {
  width: 80%;
  height: 3rem;
  margin: 1rem auto;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  color: var(--white);
  background: var(--independence);
  box-shadow: 0 0 1rem var(--rich-black);
  cursor: pointer;
}

.paginationBttns a:hover {
  color: var(--white);
  background-color: var(--candy-pink);
}

.paginationActive a {
  color: var(--independence);
  background-color: var(--white);
  padding: 1.2rem;
}
