.country {
  position: relative;
  margin: 2rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 60rem;
  height: 42rem;
  background: var(--box-country-detail-background);
  box-shadow: 0 0 1rem var(--rich-black);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.info {
  color: var(--white);
  /* padding: 1rem; */
}

.info h3 {
  padding: 0.8rem;
  margin-bottom: 1rem;
  background: var(--prussian-blue-dark);
  background: linear-gradient(
    90deg,
    var(--prussian-blue-dark) 0%,
    rgba(124, 124, 124, 0) 90%
  );
  border-radius: 0.2rem;
}

.image {
  margin-right: 2rem;
  width: 23rem;
  max-height: 23rem;
  height: auto;
  box-shadow: 0 0 1rem var(--black);
  border-radius: 0.2rem;
}

.span {
  font-weight: bold;
  color: var(--blue-munsell-dark);
}

.info a {
  text-decoration: none;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  color: var(--white);
  background: var(--candy-pink);
  border-radius: 0.2rem;
  cursor: pointer;
}

.info a:hover {
  filter: brightness(80%);
}

.infoActivity {
  position: absolute;
  top: 23rem;
  left: 1rem;
  margin-top: 2rem;
  width: 93%;
  color: var(--white);
  padding: 1rem;
  /* box-shadow: 0 0 1rem var(--black); */
}

.infoActivity h4 {
  padding: 0.8rem;
  background: var(--prussian-blue-dark);
  background: linear-gradient(
    90deg,
    var(--prussian-blue-dark) 0%,
    rgba(124, 124, 124, 0) 90%
  );
  border-radius: 0.2rem;
}

.boxActivity {
  /* border: 1px solid #f00; */
  color: var(--white);
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  gap: 1rem;
}

.activity {
  /* border: 1px solid #0f0; */
  padding: 1rem;
  width: 14rem;
  background: var(--prussian-blue);
  box-shadow: 0 0 1rem var(--black);
  border-radius: 0.2rem;
}

.toHome {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: center;
  text-decoration: none;
  background: var(--independence);
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem var(--black);
  transition: all 0.2s;
}

.toHome:hover {
  transform: scale(1.1);
}

.toHome h6 {
  font-size: 1rem;
  color: var(--white);
}
