.LandingPage {
  width: 100%;
  height: 100vh;
  background-image: url("https://wallpapertops.com/walldb/original/c/2/1/82228.jpg"); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  filter:drop-shadow(0 0 2rem var(--black));
  transition: all 0.2s;
}

.link:hover {
  transform: scale(1.1);
}
